In [1]:
# importing libraries
import pandas as pd
import numpy as np # linear algebra
import tensorflow as tf
import keras #library for neural network
import seaborn as sns #visualisation 
from sklearn.preprocessing import normalize, OneHotEncoder
from keras.models import Sequential # neural network model c4reation
from keras.layers import Dense,Activation,Dropout 
from keras.utils import np_utils
from sklearn.model_selection import train_test_split

In [2]:
# loading the iris data set
iris = pd.read_csv('Iris.csv')

In [3]:
# viewing the first 5 instances of the data set
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
# Exploring the size of the data set and the data types of various features
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
# Viewing nunerical correlation between features
iris.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

In [6]:
# Viewing graphical correlation between various features 
# sns.pairplot(data=iris)

In [7]:
# viewing data set summary
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [8]:
# Splitting data in independent and dependent parts
X, y = iris.drop(['Species', 'Id'], axis =1), iris['Species']

In [9]:
# Viewing the result of the split
print(X.shape)
print(y.shape)

(150, 4)
(150,)

In [10]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [11]:
# Values of various features are in different ranges so normalization is required
X_ = normalize(X, axis=0)
# All values are now between 0 and 1

In [12]:
# Viewing the classes of iris data set
y.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [13]:
# Converting Categorical classes to representative numbers
y_map = {
    'Iris-setosa':0,
    'Iris-versicolor':1,
    'Iris-virginica':2
}

y = y.replace(y_map)

In [14]:
# Dividing available data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_, y, train_size=0.8, random_state=42)

In [15]:
print(X_test.shape)
print(X_train.shape)
print(y_test.shape)
print(y_train.shape)

(30, 4)
(120, 4)
(30,)
(120,)

In [16]:
# y_train

In [17]:
# y_train = pd.get_dummies(y_train)
# y_test = pd.get_dummies(y_test)

In [18]:
y_train.shape

(120,)

In [19]:
y_train=np_utils.to_categorical(y_train,num_classes=3)
y_test=np_utils.to_categorical(y_test,num_classes=3)

In [20]:
y_train.shape

(120, 3)

In [21]:
# Model Building
model=Sequential()
model.add(Dense(1000,input_dim=4,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(300,activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(3,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1000)              5000

 dense_1 (Dense)             (None, 500)               500500

 dense_2 (Dense)             (None, 300)               150300

 dropout (Dropout)           (None, 300)               0

 dense_3 (Dense)             (None, 3)                 903

=================================================================
Total params: 656,703
Trainable params: 656,703
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Training the Model
model.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=20,epochs=10,verbose=1)

Epoch 1/10
6/6 [==============================] - 4s 169ms/step - loss: 1.0918 - accuracy: 0.3417 - val_loss: 1.0697 - val_accuracy: 0.6333
Epoch 2/10
6/6 [==============================] - 0s 41ms/step - loss: 1.0498 - accuracy: 0.7333 - val_loss: 1.0053 - val_accuracy: 0.7000
Epoch 3/10
6/6 [==============================] - 0s 46ms/step - loss: 0.9576 - accuracy: 0.7750 - val_loss: 0.8664 - val_accuracy: 0.9667
Epoch 4/10
6/6 [==============================] - 0s 43ms/step - loss: 0.8010 - accuracy: 0.7833 - val_loss: 0.6587 - val_accuracy: 0.7000
Epoch 5/10
6/6 [==============================] - 0s 53ms/step - loss: 0.5917 - accuracy: 0.8833 - val_loss: 0.4584 - val_accuracy: 0.8333
Epoch 6/10
6/6 [==============================] - 0s 49ms/step - loss: 0.4193 - accuracy: 0.8917 - val_loss: 0.3331 - val_accuracy: 0.9667
Epoch 7/10
6/6 [==============================] - 0s 48ms/step - loss: 0.3214 - accuracy: 0.9333 - val_loss: 0.2367 - val_accuracy: 0.9667
Epoch 8/10
6/6 [==============================] - 0s 48ms/step - loss: 0.2843 - accuracy: 0.9000 - val_loss: 0.1913 - val_accuracy: 0.9667
Epoch 9/10
6/6 [==============================] - 0s 49ms/step - loss: 0.2039 - accuracy: 0.9417 - val_loss: 0.1376 - val_accuracy: 1.0000
Epoch 10/10
6/6 [==============================] - 0s 48ms/step - loss: 0.1528 - accuracy: 0.9500 - val_loss: 0.1002 - val_accuracy: 1.0000

In [24]:
# Evaluating the model
y_label=np.argmax(y_test,axis=1)
prediction=model.predict(X_test)
length=len(prediction)
predict_label=np.argmax(prediction,axis=1)

accuracy=np.sum(y_label==predict_label)/length * 100 
print("Model Accuracy is: ",accuracy,"%" )

1/1 [==============================] - 0s 328ms/step
Model Accuracy is:  100.0 %

In [25]:
# Using Model to predict Unseen data
list(model.predict([[2.3, 3.7, 5.2, 5]]))

1/1 [==============================] - 0s 123ms/step

[array([0., 0., 1.], dtype=float32)]